<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link rel="stylesheet" href="{{ url_for('assets', path='/node_modules/bulma/css/bulma.min.css') }}">
<script src="{{ url_for('assets', path='/node_modules/vue/dist/vue.global.js') }}"></script>
<script src="{{ url_for('assets', path='/node_modules/axios/dist/axios.min.js') }}"></script>
<script src="{{ url_for('assets', path='/node_modules/tmi.js/build/tmi.min.js') }}"></script>
<script src="{{ url_for('assets', path='/node_modules/obs-websocket-js/dist/obs-websocket.min.js') }}"></script>